<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>

<body>
    <div id="root">
        <h2>当前的n值是{{n}}</h2>
        <button @click="n++">点我n+1</button>
        <!-- <h2 v-show="true">欢迎来到{{name}}</h2>
        <h2 v-if="false">欢迎来到{{name}}</h2> -->
        <div v-if="n===1">Angular</div>
        <div v-if="n===2">React</div>
        <div v-if="n===3">Vue</div>
    </div>
    <script>
        Vue.config.productionTip = false
        new Vue({
            el: '#root',
            data: {
                name: '湖南科技大学',
                n: 0
            }
        })
    </script>
</body>

</html>