* {
    margin: 0;
    padding: 0;
}

.tb-promo {
    position: relative;
    margin: 100px auto;
    width: 520px;
    height: 280px;
}

.tb-promo img {
    height: 280px;
    width: 520px;
}

.prev,
.next {
    position: absolute;

    top: 50%;
    left: 0px;
    height: 30px;
    width: 20px;
    margin-top: -15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
}

.next {
    left: auto;
    right: 0px;
    border-radius: 15px 0 0 15px;
}

.promo-nav {
    position: absolute;
    height: 13px;
    width: 70px;
    bottom: 15px;
    left: 50%;
    margin-left: -35px;
    border-radius: 7px;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.3)
}

.promo-nav li {
    float: left;
    margin: 3px;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
    line-height: 8px;
}

.selected {

    background-color: #ff5000 !important;
}

.tb-promo::after {
    position: absolute;
    display: block;
    content:"";
    top: 0;
    left: 0;
    width: 520px;
    height: 280px;
    
}

.tb-promo:hover::after {
    content: "";
    visibility: visible;
    background: rgba(0, 0, 0, 0.7) url(images/arr.png) no-repeat center;
}