@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?iqdaiq');
    src: url('fonts/icomoon.eot?iqdaiq#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?iqdaiq') format('truetype'),
        url('fonts/icomoon.woff?iqdaiq') format('woff'),
        url('fonts/icomoon.svg?iqdaiq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

span {
    font-family: 'icomoon';
    font-size: 30px;
}