div {
    width: 100px;
    height: 100px;
    background-color: pink;
}

.left {
    background-color: purple;
    float: left;
}

.right {
    background-color: pink;
    width: 120px;
    height: 120px;
    float: left;
}